$header-colour: #232940;
$graphite: #232940;
$delete-icon-colour: #c94515;
$error-outline-colour: #c94515;
$footer-bg-colour: #d1d1d1;
$button-colour: #2e66e5;
$instock-indigo: #2e66e5;
$list-container: rgba(46, 102, 230, 0.07);
$box-shadow: rgba(19, 24, 44, 0.1);
$white: #fff;
$light-grey: #f7f8f9;
$in-stock-colour: #158463;
$cloud: #bdc5d5; //for inactive pages in Header
$instock-black: #13182c;
$slate: #5c667e;
