@use "../../../styles/partials/colours" as *;
@use "../../../styles/partials/mixins" as *;

.new-warehouse {
  background-color: $light-grey;
  padding: 1rem 1rem 0 1rem;

  @include tablet {
    padding: 2rem 2rem 0 2rem;
  }

  @include desktop {
    padding: 1rem 8rem 0 8rem;
  }

  &__container {
    background-color: $white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    transform: translateY(-4.5rem);

    @include tablet {
      transform: translateY(-6rem);
    }
  }

  &__header {
    padding: 1.5rem;
    display: flex;
    border-bottom: 1px solid $cloud;
  }

  &__title {
    margin-left: 0.5rem;
  }

  &__link {
    padding-top: 0.3rem;
  }

  &__back-icon {
    height: 1.25rem;
  }
}

.new-warehouse-form {
  &__title {
    padding-bottom: 1rem;
  }

  &__container {
    padding: 1rem;

    @include tablet {
      padding: 0 2rem;
      width: 100%;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      padding: 2rem 0;
    }
  }

  &__input {
    height: 2.2rem;
    width: 100%;
    outline: none;
    padding: 0 1rem;
    margin: 4px 0;
    border-radius: 20px;
    border: 1px solid $cloud;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }

    &:focus {
      border: 1px $button-colour solid;
    }
  }

  &__right {
    border-top: 1px solid $cloud;

    @include tablet {
      border: none;
      border-left: 1px solid $cloud;
      width: 50%;
    }
  }

  &__left {
    @include tablet {
      width: 50%;
    }
  }
}

.buttons {
  background-color: $light-grey;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;

  @include tablet {
    @include flex(center, flex-end, row);
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: flex-end;

    @include tablet {
      width: 35%;
      padding-right: 1rem;
    }

    @include desktop {
      width: 25%;
    }
  }
}

.button {
  width: 50%;
  height: 2rem;
  border-radius: 20px;
  border: 1px solid $cloud;
  background-color: $white;
  color: $graphite;

  &--special {
    color: $white;
    background-color: $button-colour;
    margin-left: 1rem;
    &:hover {
      background-color: $header-colour;
    }
    @include tablet {
      width: 100%;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  height: 1.25rem;
  margin-bottom: 0.2rem;

  &__icon {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.2rem;
  }

  &__text {
    color: $delete-icon-colour;
    font-size: 11px;
  }
}
